.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #7266af;
  border: 1px solid #c3b9f3;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: transform 0.25s ease-out;
  text-align: center;
}

.card-container:hover {
  transform: scale(1.05);
}
